body {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(44, 42, 42));
    font-family: 'Prosto One';
    font-size: 17px;
    color: rgb(214, 210, 210);
    padding-bottom: 0;
    font-style: solid bold;
    user-select: none;

}

.prosto-one-regular {
    font-family: "Prosto One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.562), rgba(129, 126, 126, 0.562), rgb(88, 15, 15));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-right: 20px;
    bottom: 0;
    height: 95px;
    color: rgb(231, 231, 231);
    font-size: 20px;
    position: sticky;
    top: 0;
    width: 100%;
}

.logo {
    height: 70px;
    width: auto;
    padding: 0;
    margin-left: 20px;
}


.menu-nav {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}

.navLink {
    text-decoration: none;
    color: aliceblue;
    padding: 0.5rem;
}

.navLink.active {
    font-weight: bold;
    text-decoration: underline darkred;

}

.lista-nav:hover {
    background-color: rgb(112, 112, 112);
    border-radius: 5%;
    height: 100%;
    cursor: pointer;
}


.photo-container {

    margin: 2rem 1rem;

}

.fotos-cuadricula {
    display: grid;
    gap: 2.5rem;
    /*grid-template-columns: repeat(4, 1fr);*/
    /*top: 0;*/
    grid-auto-flow: dense;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));


}



.card-foto {
    text-align: center;
    margin-bottom: 15px;
}

.item-foto {
    background-color: rgb(49, 48, 48);
    border-radius: .5rem;
    padding: 1rem;
    width: auto;
    height: 15rem;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;

}

.titulo-item-foto {
    margin-top: 0.5rem;
    font-size: 15px;
}



.item-foto-ampliar,
.item-foto-ampliar:visited {
    color: rgb(165, 2, 2);
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}


.titulo-foto {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 5px;
}

.footer {
    background: linear-gradient(to right, rgba(39, 8, 8, 0.562), rgba(0, 0, 0, 0.562), rgb(0, 0, 0));
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.texto-footer {
    padding-top: 1.5rem;
    padding-bottom: 1.75rem;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;

}

.redes {
    margin-top: .1rem;
    list-style-type: none;
}

.lista-redes {
    padding-top: 0;
}

.img-redes {
    height: 25px;
    width: 25px;
    margin: 0.5em;

}




.notFound {
    display: grid;
    grid-template-columns: 1fr;
    margin: 100px auto;
    text-align: center;
}

.eventosDeportivos {
    display: flex;
    justify-content: start;
    margin: 15px;
}


.card-foto-ampliada {
    margin-top: 2rem;
    text-align: center;
    font-size: 30px;
    user-select: none;
}



.item-foto-ampliada {
    width: auto;
    height: 35rem;
    text-align: center;
    font-size: medium;
    margin-top: 0;
}




.item-contador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: rgb(214, 210, 210);

}



.btn-Agregar {
    margin-top: 0.5em;
    margin-left: .5em;
    background-color: rgb(19, 22, 20);
    color: rgb(167, 37, 37);
    font-size: 15px;
}

.btn-Vaciar {
    margin-top: 0.5em;
    margin-left: 1em;
    background: linear-gradient(to left, rgb(248, 47, 47), rgb(88, 23, 23));

    color: rgb(19, 22, 20);
    font-size: 25px;

}

.btn-Vaciar:hover {
    background: rgb(197, 7, 7);
    color: rgb(19, 22, 20);
}

.carrito {
    display: flex;
    align-items: center;
    width: 30px;
    height: 60px;
    margin-right: 2rem;
}

.carrrito-widget {
    text-decoration: none;
}

.carrito-container {
    user-select: none;
}


.contador-widget {
    background-color: rgb(167, 37, 37);
    border-radius: 40%;
    text-align: center;
    font-size: 17px;
    padding-right: 1.5px;
    margin-top: 1rem;


}


.encabezado-carrito {

    text-align: center;
    font-size: 20px;
    margin-bottom: 1rem;
}

.item-foto-carrito {
    height: 100px;
    width: auto;
    padding-left: 1rem;
    align-items: center;
}

.btn-suma-resta {
    margin: 0.5em;
    margin-top: .5rem;
}

.btn-suma-resta:hover,
.btn-Agregar:hover,
.btn-Vaciar:hover,
.item-foto-ampliar:hover {
    cursor: pointer;
}

.th-td {
    text-align: center;
    padding-left: 2rem;
    align-items: center;

}

.total-carrito {
    font-size: 20px;
}

.btn-borrar {
    background-color: black;
    margin-left: 2rem;
    font-size: large;

}

[table] {
    user-select: none;
}

.btn-Finalizar {
    margin-top: 0.5em;
    margin-left: 1em;
    background: linear-gradient(to left, rgb(226, 227, 231), rgb(58, 59, 61));
    text-decoration: none;
    color: rgb(19, 22, 20);
    font-size: 20px;
    border: 4px solid rgb(85, 85, 211);


}

.btn-Seguir {
    margin-top: 0.5em;
    margin-left: 1em;
    background: linear-gradient(to left, rgb(132, 139, 127), rgb(61, 78, 52));
    text-decoration: none;
    color: rgb(19, 22, 20);
    font-size: 20px;
    border: 4px solid rgb(2, 163, 2);
}

.btn-Agregar {
    margin-top: 0.5em;
    margin-left: .5em;
    background-color: rgb(19, 22, 20);
    color: rgb(167, 37, 37);
    font-size: 20px;
}

.orden-compra {
    width: 50%;
    place-content: center;
    background: linear-gradient(to right, rgba(39, 8, 8, 0.562), rgba(0, 0, 0, 0.562), rgb(0, 0, 0));
    text-align: center;
    margin: 15% 25%;
    padding: 3rem;
    border: double 2px gray;
}

.orden-compra p,
h2 {
    padding: 5px
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sobreMi {
    width: 30%;
    text-align: left;
    margin: 0;
    line-height: 1.7;
    font-size: 30px;
}

.container-sobreMi {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.container-sobreMi:hover .foto-silueta {
    transform: translateX(0);
    opacity: 1;
}

.foto-silueta {
    width: 30%;
    height: 30%;
    box-shadow: 55%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(-100%);
    opacity: 0;
}

.container-form {
    align-items: start;
    width: 70%;
    padding: 0.1rem;
    margin: 2rem;
}

.item-form {
    width: 70%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: larger;

}

/*--------------RESPONSIVE----------------------*/
@media (max-height: 650px) or (max-width:900px) {

    html{
        width: 100%;
    }
    body{
        font-size: 12px;
    }
    header{
        font-size: 12px;
    }
    .footer {
        height: 6rem;
    }
    .lista-redes, ul{
        margin: 0;
        padding: 0;
    }

    .img-redes {
        height: 1px;
        width: 1px;
        margin: 0;
    
    }

    .texto-footer {
        font-size: 10px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .sobreMi {
        width: 30%;
        line-height: 1;
        font-size: 12px;
    }
    

    .item-foto-ampliada {
        width: auto;
        height: 15rem;
        text-align: center;
        font-size: small;
        margin-top: 0;
    }

    .item-contador {
        font-size: 10px;
    }

    .logo {
        height: 50px;
        margin-left: 10px;
    }
    .contador-widget {
        font-size: 13px;
    }
    .encabezado-carrito {
        font-size: 10px;
    }
    .th-td {
        padding-left: 0.5rem;
        font-size: 60%;
    
    }
    
    .total-carrito {
        font-size: 10px;
    }
    .texto-footer {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        font-size: 13px;
    
    }
   
    
    .btn-borrar {
        margin-left: 0.5rem;
        font-size: xx-small;
    
    }
    .item-foto-carrito {
        height: 30px;
        padding-left: 0.5rem;
    }
    .btn-Finalizar {
        margin-top: 0.5em;
        margin-left: 0.5em;
        font-size: 13px;
        border: 2px solid rgb(85, 85, 211);
    
    
    }
    
    .btn-Seguir {
        margin-top: 0.5em;
        margin-left: 0.5em;
        font-size: 13px;
        border: 2px solid rgb(2, 163, 2);
    }
    
    .btn-Agregar {
        font-size: 13px;
    }
    
    .btn-Vaciar {
        
        margin-left: 0.5em;
        
        font-size: 15px;
    
    }
}

@media (max-height: 650px) or (max-width:1024px) {

    body{
        font-size: 12px;
    }
    .sobreMi {
        line-height: 1.3;
        font-size: 18px;
    }
    .encabezado-carrito {
        font-size: 10px;
    }
    .th-td {
        padding-left: 0.5rem;
        font-size: 80%;
    
    }
    
    .total-carrito {
        font-size: 15px;
    }
    .btn-borrar {
        margin-left: .5rem;
        font-size: medium;
    
    }
    .img-redes {
        height: 20px;
        width: 20px;
        margin: 0.5em;
    
    }
    .texto-footer {
        padding-top: 2rem;
        padding-bottom: 1.25rem;
        font-size: 15px;
    
    }
    

}

@media (max-height: 650px) or (max-width:1310px) {
    .sobreMi {
        line-height: 1.4;
        font-size: 22px;
    }

}