body {
   /* background: linear-gradient(to right, rgb(3, 3, 3), rgb(185, 178, 178), rgba(19, 17, 17, 0.562)  );
    background: linear-gradient(to right, rgba(39, 8, 8, 0.562), rgba(0, 0, 0, 0.562), rgb(0, 0, 0) );*/
    
    background: linear-gradient(to right,rgb(0, 0, 0), rgb(44, 42, 42));
    font-family: 'Prosto One';
    font-size: 20px;
    color: rgb(214, 210, 210);
    padding-bottom: 100px;
    font-style: solid bold;
}

.prosto-one-regular {
    font-family: "Prosto One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.562), rgba(129, 126, 126, 0.562), rgb(88, 15, 15)  );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-right: 20px;
    bottom: 0;
    height: 95px;
    color: rgb(231, 231, 231);
    font-size: 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
    height: 70px;
    width:  auto;
    padding: 0;
    margin-left: 20px;
}


.menu-nav {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}

.lista-nav {
    text-decoration: none;
}

.lista-nav:hover{
    background-color: rgb(112, 112, 112);
    /*padding: 4px;*/
    border-radius: 5%;
    height: 100%;
    cursor: pointer;
}


.photo-container{
    display: grid;
    place-items: center;
    min-height: 100vh;

}

.footer{
    background: linear-gradient(to right, rgba(39, 8, 8, 0.562), rgba(0, 0, 0, 0.562), rgb(0, 0, 0) );
    color: rgb(0, 0, 0);
    position: fixed;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    height: 3.5em;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    
}

.derechos{
    color: whitesmoke;
}

.nombre{
    color: whitesmoke;
}

 .lista-redes{
    list-style-type: none;
    
 }
 
 .img-redes{
    height: 25px;
    width: 25px;
    margin: .1em .5em;
    text-align: center;
 }